@model List<int[][]>
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<style>
    .cell {
        width: 50px;
        height: 50px;
        border-color: black;
        display: flex;
        margin: 0px;
        padding: 0px;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        font-size: 23px;
    }

    .zeroMargin {
        margin: 0px;
        padding: 0px;
    }

    .tdRightMargin {
        margin: 0px;
        padding: 0px;
        padding-right: 4px;
    }

    .tdBottomMargin {
        margin: 0px;
        padding: 0px;
        padding-bottom: 4px;
    }

    .tdRightBottomMargin {
        margin: 0px;
        padding: 0px;
        padding-bottom: 4px;
        padding-right: 4px;
    }

    .dropdown-content {
        display: "none";
    }

    .drop-down-item {
        position: absolute;
        visibility: hidden;
        background-color: antiquewhite;
    }

    .dropdown-toggle:hover ~ .drop-down-item {
        visibility: visible
    }

    .container_column {
        display: flex;
    }
</style>

<div class="container">
    <div class="row" style="background-color:bisque;">
        <div style="display:flex; flex-direction:column;align-items:center;justify-content:center;">
            <select style="margin-top:20px;margin-bottom:20px" onchange="initializeSudokuBoard(this.value)">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <option value="@i">Sudoku @(i + 1)</option>
                }
            </select>
            <div style="display:flex; justify-content:center; align-items:center; flex-direction:column">
                @*<ul>
                <li>
                <a  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Sudoku
                </a>

                <div class="dropdown-menu show" aria-labelledby="navbarDropdown">
                <a class="dropdown-item">Item 1</a>
                <a class="dropdown-item">Item 2</a>
                <a class="dropdown-item">Item 3</a>
                </div>
                </li>
                </ul>*@
                <table style="background-color : lightgray">
                    <tbody>
                        @for (int i = 0; i < 9; i++)
                        {
                            <tr>
                                @for (int j = 0; j < 9; j++)
                                {
                                    var className = "";
                                    if ((((i + 1) % 3) != 0) && (((j + 1) % 3) != 0))
                                    {
                                        className = "zeroMargin";
                                    }
                                    else if (((i + 1) % 3) == 0)
                                    {
                                        className = "tdBottomMargin";
                                    }
                                    else if (((j + 1) % 3) == 0)
                                    {
                                        className = "tdRightMargin";
                                    }
                                    else
                                    {
                                        className = "tdRightBottomMargin";
                                    }
                                    <td class="@className">
                                        <input id="@(i),@(j)" class="cell" type="text" />
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div style="justify-content:center;align-items:center;margin-top:20px;margin-bottom:20px; gap:20px">
                <input type="button" style="width:150px;padding-right:10px" value="Show Solution" onclick="solveSudoku()" />
                <input type="button" style="width:150px;padding-right:10px" value="Reset Board" onclick="resetSudokuBoard()" />
            </div>
        </div>
    </div>
</div>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
    var serializedModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    initializeModel(serializedModel);
</script>

@*<div class="dropdown">
            <button onclick="toggleDropdown()">Dropdown</button>
            <div class="dropdown-content" id="myDropdown">
            <a id="1" href="#" onclick="performAction(this.id)">Item 1</a>
            <a id="2" href="#" onclick="performAction(this.id)">Item 2</a>
            <a id="3" href="#" onclick="performAction(this.id)">Item 3</a>
            </div>
            </div>*@

@*<ul style="list-style-type : none">
            <li class="nav-item dropdown">
            <a class=" nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            SelectSudoku
            </a>
            <div class="dropdown-menu show" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" onclick="performAction('1')">Item 1</a>
            <a class="dropdown-item" onclick="performAction('2')">Item 2</a>
            <a class="dropdown-item" onclick="performAction('3')">Item 3</a>
            </div>
            </li>
            </ul>*@